<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Account">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <connectionStrings>
    <add name="SqlSecurityDB" connectionString="Server=aura.students.cset.oit.edu;database=nicholaskyar;user id=nicholaskyar; password=nicholaskyar;" />
  </connectionStrings>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
    
  <system.web>
    <siteMap defaultProvider="SecuredSiteMap">
      <providers>
        <add name="SecuredSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
      
    <authentication mode="Forms" >
      <forms loginUrl="Login.aspx"/>
    </authentication>
    
    <authorization>
      <!--<deny users="?" />-->
      <allow users="*"/>
    </authorization>

    <membership defaultProvider="SqlMembership">
      <providers>
        <add name="SqlMembership" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlSecurityDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed"/>
      </providers>
    </membership>

    <roleManager defaultProvider="SqlRoles" enabled="true">
      <providers>
        <add name="SqlRoles" type="System.Web.Security.SqlRoleProvider" applicationName="CST465" connectionStringName="SqlSecurityDB"/>
      </providers>
    </roleManager>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>